<script src="templates/edit_menu_new_ui.js"></script>

<style type="text/css">
#container{
    border:1px #666 solid;
    width:100%;
	height:100%;
    margin:0 auto;
}

#body_left{
    width:9%;
    height:720px;
    border:1px #666 solid;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
    float:left;
}

#body_right{
    width:34%;
    height:720px;
    border:1px #666 solid;
    margin-right:5px;
    margin-top:5px;
    margin-bottom:5px;
    float:right;
}

#body_cenetr{
    width:54%;
    height:720px;
    border:1px #666 solid;
    margin-left:0px;
    margin-top:5px;
    margin-bottom:5px;
    float:left;
}

.clear{
    clear:both;
}

.series{
    width:100%;
    //height:60px;
    border:1px #666 solid;
	text-align:center;
}

.main{
	width:23%;
	height:40px;
	margin-left:1%;
	margin-top:1%;
	border:1px #666 solid;
	text-align:center;
	float: left;
}
.main_name{
	text-align:left;
	padding-left:10%;
}
.main_price{
	text-align:right;
	padding-right:10%;
}

.detail_title{
	margin-left:5%;
}
.detail_price{
	margin-left:10%;
}
.detail_price_input{
	margin-left:40%;
}
.detail_single{
	margin-left:5%;
}
.detail_multi{
	margin-left:5%;
}
.detail_item{
	border:1px #666 solid;
	width:40%;
	text-align:center;
	float: left;
	margin-left:1%;
	margin-top:1%;
}
.detail_button{
	border:1px #666 solid;
	width:25%;
	margin-left:5%;
	text-align:center;
	float: left;
}
.edit_add_type{
	border:1px #666 solid;
	width:25%;
	margin-left:70%;
	text-align:center;
	float: left;
}
</style>

<div id="container">

    <div id="body_left">
	{% for series in all_series %}
		<div class="series" id="series_s_id_{{series.s_id}}" data-series_s_id="{{series.s_id}}">{{series.name}}</div>
	{% endfor %}
		<!--div class="series">漢堡</div>
		<div class="series">蛋餅</div>
		<div class="series">三明治</div-->
		<div class="series" id="add_series">+新增</div>
	</div>

	<div id="body_cenetr" style="display: none;">
		<div class="main">
			<div class="main_name">鮪魚漢堡</div>
			<div class="main_price">45元</div>
		</div>
		<div class="main">
			<div class="main_name">豬肉漢堡</div>
			<div class="main_price">45元</div>
		</div>
		<div class="main">
			<div class="main_name">OO漢堡</div>
			<div class="main_price">45元</div>
		</div>
		<div class="main">
			<div class="main_name">XX漢堡</div>
			<div class="main_price">45元</div>
		</div>
		<div class="main">
			<div class="main_name">漢堡</div>
			<div class="main_price">45元</div>
		</div>
		<div class="main">
			+新增
		</div>
	</div>

	<div id="body_right" style="display: none;">
		<div class="detail_title">
			<div>新增餐點名稱</div>
            <div><input type="text" id="main_name"></div>
			<HR width="100%">
		</div>
		<div class="detail_price">
			金額
			<input type="text" class="detail_price_input" id="main_price">
			元
		</div>
		<br><br>
		<div class="detail_single" id="single_choice_by_user">
			<!--div>單選項目</div>
			<hr width="100%">
			<div class="detail_item">飲料份量</div>
			<div class="detail_item">麵包種類</div>
			<div class="detail_item">麵條種類</div-->
		</div>
		<div class="clear"></div>
        <br><br>
		<div class="detail_multi" id="multi_choice_by_user">
			<!--div>多選附加項目</div>
			<hr width="100%">
			<div class="detail_item">蛋類加點</div>
			<div class="detail_item">漢堡類加點</div>
			<div class="detail_item">調味加點</div-->
		</div>
		<div class="clear"></div>
		<div style="margin-left:5%;"><hr width="100%"></div>
        <div class="detail_button" id="button_cancel">取消</div>
		<div class="detail_button" id="button_delete">刪除</div>
		<div class="detail_button" id="button_submit">確定</div>
	</div>
    <div class="clear"></div>

</div>