<!DOCTYPE html>

<html>


<head>

<title>Breakfast Menu</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="./templates/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="jquery-1.11.3.min.js"></script>
<script src="my_jquery.js"></script>


</head>

<body class="w3-container">
    
    <nav id="nav_bar" class="w3-sidenav w3-white w3-card-2">
        <a id="nav_cross" href="javascript:void(0)" class="w3-closenav w3-xxlarge w3-center" style="z-index:2">&times;</a>
        <br>
        {% for series in all_series %}
        <a href="#s{{series.s_id}}" class="w3-center" >{{series.name}}</a>
        <br>
        {% endfor %}
    </nav>
    <div id="main"></div>
    <span id="nav_open" class="w3-opennav w3-xlarge fa fa-arrow-left"></span>


<header class="w3-container w3-teal">
    <h1><center>早餐店菜單</center></h1>
</header>

<div>
    <button id="open_cart" class="w3-btn w3-teal w3-round-xlarge">
        購物車
    </button>
</div>


<div id="cart_list" class="w3-modal " style="z-index:2" >

    <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-teal">
            <span id="close_cart" class="w3-closebtn w3-xlarge">&times;</span>
            <h3>你的購物清單</h3>
        </header>

        <div class="w3-row w3-center">
            <div>
                <p>
                </p>
            </div>
            <div class="w3-row-padding">
                <table id="orderList" class="w3-table w3-padding w3-striped w3-grey" >
                    <thead>
                    <tr>
                        <td> 品項 </td>
                        <td> 數量 </td>
                        <td> 金額 </td>
                        <td> 備註 </td>
                        <td> 取消 </td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    </tfoot>
                    

                </table>
            </div>
            <div>
                <p>
                </p>
            </div>

        </div>

        <footer class="w3-container w3-teal">

        <div class="w3-col s2 w3-padding-8">
            <h5>總共</h5>
        </div>
        <div class="w3-col s3 w3-padding-16">
            <input id="tprice" class="w3-input w3-sand" type="text" value="0" readonly>
        </div>
        <div class="w3-col s1 w3-padding">
            <h4>元</h4>
        </div>

        <div class="w3-col s4 w3-right w3-padding-16 w3-teal">
            <button id="send_order" class="w3-btn w3-right w3-input w3-round-xlarge">下單
            </button>
        </div>

        </footer>

    </div>

</div>

{% for series in all_series %}
<div id="s{{series.s_id}}" class="w3-group w3-row w3-padding-left">
        <h3><center> {{series.name}} </center></h3>
    {% for main in series.main %}
        
        <div id="m{{main.m_id}}_ro_at_id"></div>
        <button id="m{{main.m_id}}" class="w3-btn w3-teal w3-large w3-margin-2 w3-round" data-at_id={{main.at_id}} value="{{main.price}}"> {{main.name}} </button>

        <script>
            
            $("#m{{main.m_id}}").data({ "ro_at_id" : [ 
               
            {% for ro in main.ro %}
               
               {{ro.at_id}}, 
            {% endfor %}
                -1] })
        </script>


    {% endfor %}
</div>

{% endfor %}


<div id="confirm_item" class="w3-modal w3-padding-top" style="z-index:2" >
    <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-teal">
            <span id="close_confirm" class="w3-closebtn w3-xlarge">&times;</span>
            <h3>你已經點選取下列品項</h3>
        </header>

        <div class="w3-row">
            <div class="w3-col s5  w3-padding">
                <h3 id="item_name" ></h3>
                <input id="hiddenInput" type="hidden" value="-1">
            </div>

            <div>
                <div class="w3-col s2 w3-padding-8">
                    <h5>數量</h5>
                </div>
                <div class="w3-padding-8 w3-col s2">
                    <input class="w3-input" id="amountButton" value="1" min="1" type="number">
                </div>
            </div>
        </div>
        <div class="w3-row">
            <div id="materialblock" class="w3-half w3-padding">

            </div>

            <div class="w3-padding-16">
                <input id="addition_info" type="text" placeholder="備註欄位">
            </div>
        </div>

        <footer class="w3-container w3-teal">
            <div class="w3-container w3-col s4 w3-padding">
                <input id="item_price" class="w3-input w3-sand" type="text" value="0" readonly>
                <input id="uniqueID" type="hidden" readonly>
            </div>
            <div class="w3-container w3-col s4 w3-padding-24">
                元
            </div>

            <div class="w3-container w3-col s2 w3-right w3-padding-top w3-teal">
                <button id="add_cart" class="w3-btn w3-right w3-round">加入購物車</button>
            </div>
        </footer>

    </div>
</div>

</body>


</html>







