<!DOCTYPE html>


<html>

<head>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./templates/w3.css">

<!---- CDN ---->
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

</head>
<body>



<div data-role="page"  id="main" >

<div data-role="panel" id="admin_panel" class="w3-sidenav w3-white w3-card-2" data-position="left" data-display="reveal" data-theme="a">

  <a href="#a0" 
  data-rel="close"
  class="w3-closenav w3-large w3-xxlarge w3-center">&times;</a>

  <a href="#a0" class="w3-center">即時訂單資訊</a>		
  <br>
  <a href="#a1" class="w3-center">報表產生</a>		
  <br>
  <a href="#a2" class="w3-center">菜單更新</a>		
  <br>
  <a href="login.php" class="w3-center">登出</a>
</div>

<div data-role="header">

    <header class="w3-container w3-teal">
      <span class="w3-opennav w3-xlarge"><a href="#admin_panel" style="text-decoration: none; color:#FFFFFF;">&#9776;</a></span>
      <h1><center>早餐店後台管理系統</center></h1>
    </header>

</div>

<div data-role="content">
    <div id="a0" class="w3-container">
        <h3><center>即時訂單資訊</center></h3>

	<textarea id="debug_text"> </textarea>
	
	<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable" id="order_list" >
	<thead id="order_list_header">
		<tr >
			<th>狀態</th>
			<th>桌號</th>
			<th>人數</th>
			<th>總價錢</th>
			<th>操作</th>		
		</tr>
	</thead>
	
		<!----- Order START ------>
	<tbody class="order_view" order_id="1">
		<tr class="order_title" order_id="1">
			<th>已出餐</th>
			<th>#12</th>
			<th>3</th>
			<th>$160</th>
			<th>
				<fieldset data-role="controlgroup" data-type="horizontal">
					<a href="#" data-role="button" data-transition="fade" class="button_viewsum ui-btn-active" order_id="1">單子總結</a>
					<a href="#" data-role="button" data-transition="fade" class="button_calshare" >計算小單價格</a>
				</fieldset>
			</th>			
		</tr>
		
		<tr id="order_detail_1" class="order_detail order_done" order_id="1"> 
			<td colspan=5 class="viewsummary">
				<!--- viewsummary ---->
				<table>
					<tr>
						<td>漢堡</td><td>加起司</td><td>$50</td><td>x1</td>
					</tr>
					<tr>
						<td>沙拉</td><td>加起司</td><td>$70</td><td>x1</td>
					</tr>
					<tr>
						<td>豆漿</td><td>溫,無糖</td><td>$20</td><td>x3</td>
					</tr>
				</table>
			</td>
			<!--- viewshare ---->
			<td colspan=5 class="viewshare">
				<table>
				<tr><td>$70</td>
					<td>
					<table>
						<tr><td>漢堡</td><td>加起司</td><td>$50</td><td>x1</td></tr>
						<tr><td>豆漿</td><td>溫,無糖</td><td>$20</td><td>x1</td></tr>
					</table>
					</td>
				</tr>
				<tr><td>$90</td>
					<td>
					<table>
						<tr><td>沙拉</td><td>加起司</td><td>$70</td><td>x1</td></tr>
						<tr><td>豆漿</td><td>溫,無糖</td><td>$20</td><td>x1</td></tr>
					</table>
					</td>
				</tr>		
				<tr><td>$20</td>
					<td>
					<table>
						<tr><td>豆漿</td><td>溫,無糖</td><td>$20</td><td>x1</td></tr>
					</table>
					</td>
				</tr>		
				</table>
			</td>
		</tr>		
		<!----- Order END------>
	</tbody>
	</table>

    </div>
    
    <div>&nbsp;</div>
 </div>
 
 <div data-role="footer">
    <footer class="w3-container w3-teal">
      <p> &nbsp; </p>
    </footer>

</div>
      
<script>

//--------單子顯示相關的函式------------------------------
//
//	ordershow 顯示整張單子，包含viewsummary跟viewshare
//	viewsummary 單子總結
//	viewshare 以小單為單位顯示
//
//--------------------------------------------------------

//function toggle_ordershow( id ){
//	order_filter = "#order_detail_"+id;
//	$(order_filter).toggle();
//}


function order_status_down(id){
	order_detail = "#order_detail_" + id;
	if( $(order_detail).hasClass("order_done")){
		$(order_detail).removeClass("order_done");
		$(order_detail).addClass("order_making");		
	}
	else if( $(order_detail).hasClass("order_making") ){
		$(order_detail).removeClass("order_making");
		$(order_detail).addClass("order_waiting");			
	}
	else if($(order_detail).hasClass("order_waiting")){
		
	}
	else{
		alert('error occured');
	}
}

function order_status_up(id){
	order_detail = "#order_detail_" + id;
	if( $(order_detail).hasClass("order_waiting")){
		$(order_detail).removeClass("order_waiting");
		$(order_detail).addClass("order_making");		
	}
	else if( $(order_detail).hasClass("order_making") ){
		$(order_detail).removeClass("order_making");
		$(order_detail).addClass("order_done");			
	}
	else if($(order_detail).hasClass("order_done")){
		
	}
	else{
		alert('error occured');
	}
}


//-------------------------------單子的顯示設定 START---------------------------------->
$('.viewshare').hide();



/*
// Legacy : not able to handle dynamic generated tags

$('.order_title').on("click", function(e){	
	$(this).next('.order_detail').toggle();
});

$('.button_calshare').on( "click", function(e){
	
	$(this).parents('.order_title').next('.order_detail').children('.viewsummary').hide();
	$(this).parents('.order_title').next('.order_detail').children('.viewshare').show();
	$(this).addClass("ui-btn-active");hg
	 $(this).parent().children('.button_viewsum').removeClass("ui-btn-active");
	 e.stopImmediatePropagation();
	 return false;
});

$('.button_viewsum').on( "click", function(e){
	$(this).parents('.order_title').next('.order_detail').children('.viewsummary').show();
	$(this).parents('.order_title').next('.order_detail').children('.viewshare').hide();
	$(this).addClass("ui-btn-active");
	$(this).parent().children('.button_calshare').removeClass("ui-btn-active");
	 e.stopImmediatePropagation();
	 return false;
});

$(".order_detail").on("swipeleft", order_swipeleft);
$(".order_title").on("swipeleft", order_swipeleft);
$(".order_detail").on("swiperight",order_swiperight);
$(".order_title").on("swiperight",order_swiperight);

*/

$('#order_list').on("click", ".order_title", function(e){	
	$(this).next('.order_detail').toggle();
});

$('#order_list').on("click", ".button_calshare", function(e){	
	$(this).parents('.order_title').next('.order_detail').children('.viewsummary').hide();
	$(this).parents('.order_title').next('.order_detail').children('.viewshare').show();
	$(this).addClass("ui-btn-active");
	 $(this).parent().children('.button_viewsum').removeClass("ui-btn-active");
	 e.stopImmediatePropagation();
	 return false;
});

$('#order_list').on("click", ".button_viewsum", function(e){	
	$(this).parents('.order_title').next('.order_detail').children('.viewsummary').show();
	$(this).parents('.order_title').next('.order_detail').children('.viewshare').hide();
	$(this).addClass("ui-btn-active");
	$(this).parent().children('.button_calshare').removeClass("ui-btn-active");
	 e.stopImmediatePropagation();
	 return false;
});

//$('#order_list').


var order_swipeleft = function(e){
//	alert('test');
	order_status_down( $(this).attr('order_id'));
};
	
var order_swiperight = function(e){
//	alert('test');
	order_status_up( $(this).attr('order_id'));
};
	
//$('#order_list').on("swipeleft", ".order_detail" , order_swipeleft);
//$("#order_list").on("swipeleft", ".order_title", order_swipeleft);
//$("#order_list").on("swiperight",".order_detail",order_swiperight);
//$("#order_list").on("swiperight",".order_title",order_swiperight);

$("#order_list").on("swipeleft", ".order_view", order_swipeleft);
$("#order_list").on("swiperight",".order_view",order_swiperight);


//-------------------------------單子的顯示設定 END---------------------------------->





function orderSummary_block( items_array ){

	var orderSum_start = '\
				<td colspan=5 class="viewsummary">                                                                                                                                                                          \
					<table>                                                                                                                                                                                                             \
	';

	var orderSum_end = '                                                                                                                                                                                                                        \
					</table>                                                                                                                                                                                                           \
				</td>                                                                                                                                                                                                                       \
	';

	// items_array -->  item( name, main_price , RO_array, AI_array, quantity )
	// RO_array [ ro1 , ro2 , .... ]
	// roItem1[name, price]   
	//
	//						    	----- name
	//						    	|									
	//				---- item1 ----------- main_price			------- roItem1 ----------- name
	//				|		    	|					|				|
	//	items_array  --  --- item2  	----- RO_array	-------------------- roItem2			---- price
	//				|		    	|					|				
	//				---  item3  	----- AI_array			------- roItem3		
	//						    	|						
	//						    	----- quantity
	//						 
	//
	//						    	----- 珍珠奶茶
	//						    	|									
	//				---- item1 ----------- 30				------- roItem1 ----------- 少冰
	//				|		    	|					|				|
	//	items_array  --  --- item2  	----- RO_array	--------------					---- 0
	//				|		    	|					|				
	//				---  item3  	----- AI_array			------- roItem2 ----------- 無糖		
	//						    	|									|
	//						    	----- 2								---- 0
	//						 


	// price = main.price + (all RO_array item.price) + (all AI_array item.price)
	//
	//alert(items_array[0].name);
	Items_html = '';
	
	/*
		myArray = new Array("item 1", "item 2", "item 3");
		$.each(myArray, function() {
			this = "Do Something Here";
		});	
	*/
	
	for( var item_i in items_array ){
		item = items_array[item_i];
		RO_html = '';
		allROcost = 0;
		for( var ro_i in item.RO_array ){
			ro = item.RO_array[ro_i];
			RO_html = RO_html + ',' + ro.name;
			allROcost = allROcost + ro.price;
		}
		
		AI_html = '';
		allAIcost = 0;
		for( var ai_i in item.AI_array ){
			ai = item.AI_array[ai_i];
			AI_html = AI_html + ',' + ai.name;
			allAIcost = allAIcost + ai.price;
		}

		itemcost = item.main_price + allROcost + allAIcost;
		
		Items_html =  Items_html + 
			' 					<tr>                                                                                                                                                                                                       \
									<td>'+ item.name +'</td><td>'+ RO_html + ' / '+AI_html+' </td><td>'+itemcost+'</td><td>'+item.quantity+'</td>                                  \
								</tr>';		
	}
	
		
	return orderSum_start + Items_html + orderSum_end;
}



function orderShare_block( share_array ){		// share total is calculated here

	orderShare_start = 
	'                                                                                                                                                                                                               				\
			<td colspan=5 class="viewshare" style="display:none;">                                                                                                                                                                        	\
				<table>                                                                                                                                                                                                          	\
	';

	//
	//							-----	total			            		----- name
	//							|				            		|				
	//				-----	share1---------  item_array --------  item1--------------- main_price	------- roItem1 ----------- name
	//				|							|            		|                        	|				| 
	//	share_array ------							---- item2		---- RO_array   ------------- roItem2		---- price
	//				|               					            		|                        	|				 
	//				----	share2					     	    		---- AI_array    	------- roItem3		
	//														|
	//														---- quantity
	//
	//
	//							-----	70			            		----- 牛肉漢堡
	//							|				            		|				
	//				-----	share1---------  item_array --------  item1--------------- 50		
	//				|							|            		|                       
	//	share_array ------							---- item2		---- RO_array   	------- aiItem1 ----------- 加蛋
	//				|               					            		|                         	|				| 
	//				----	share2					     	    		---- AI_array     ------------- aiItem2		---- 10 
	//														|                         	|				 
	//														---- quantity      	------- aiItem3		
	
	
	share_html = '';
	for ( share_i in share_array ){
		share = share_array[share_i];
		share_html = share_html + '\
				<tr><td>' + share.total + '</td>                                                                                                                                                                                          \
					<td>                                                                                                                                                                                                      \
					<table>                                                                                                                                                                                                  \
		';
	
		Items_html = '';
		share_total = 0;
		for( var item_i in share.items_array ){
			item = share.items_array[item_i];
			RO_html = '';
			allROcost = 0;
			for( var ro_i in item.RO_array ){
				ro = item.RO_array[ro_i];
				RO_html = RO_html + ',' + ro.name;
				allROcost = allROcost + ro.price;
			}
			
			AI_html = '';
			allAIcost = 0;
			for( var ai_i in item.AI_array ){
				ai = item.AI_array[ai_i];
				AI_html = AI_html + ',' + ai.name;
				allAIcost = allAIcost + ai.price;
			}

			itemcost = item.main_price + allROcost + allAIcost;
			share_total = share_total + itemcost * item.quantity;
			Items_html =  Items_html + 
				' 					<tr>                                                                                                                                                                                                       \
										<td>'+ item.name +'</td><td>'+ RO_html + ' / '+AI_html+' </td><td>'+itemcost+'</td><td>'+item.quantity+'</td>                                  \
									</tr>';		
		}
	
		if(share_total != share.total){
			alert('Alert #Share total does not match in database, js:'+share_total+',db:'+share.total);
		}
	
		share_html = share_html + Items_html;
		
		share_html = share_html + '\
			</table>                                                                                                                                                                                                                \
			</td>                                                                                                                                                                                                                     \
		</tr>                                                                                                                                                                                                                             \
		';
	}
	
	orderShare_end = '\
				</table>                                                                                                                                                                                                         \
			</td>                                                                                                                                                                                                                     \
	';
	
	return orderShare_start + share_html + orderShare_end;
}



function order_block( order_info ){
//
//
//		
//
//		order_info ---------- 	o_id     
//						o_time
//						table_num
//						people_num
//						status
//						total		    ---------> calculated from share or summary
//						share_array    -------->  [specified in other graph]
//						summary_array -------> [specified in other graph]
//
//

status_text = '';
status_class = '';
switch( order_info.status ){
	case 'WAIT':
		status_text = "尚在等候";
		status_class = "order_waiting";
	break;
	case 'MAKING':
		status_text = "製作中";
		status_class = "order_making";
	break;
	case 'DONE':
		status_text = "已出餐";
		status_class = "order_done";
	break;
	case 'PAID':
		status_text = "已付帳";
		status_class = "order_paid";
	break;
}

//<tbody class="order_view" order_id="1">
var orderblock_start = '<tbody class="order_view" order_id="'+order_info.o_id+'">                                                                                                                                                                                                                               \
		<tr>                                                                                                                                                                                           \
			<th>'+status_text+'</th>                                                                                                                                                                                            \
			<th>#'+order_info.table_num+'</th>                                                                                                                                                                                    \
			<th>'+order_info.people_num+'</th>                                                                                                                                                                                   \
			<th>$'+order_info.total+'</th>                                                                                                                                                                                            \
			<th>                                                                                                                                                                                                                                 \
				<fieldset data-role="controlgroup" data-type="horizontal">                                                                                                                          	                \
					<a href="#" data-role="button" data-transition="fade" class="button_viewsum ui-btn-active" order_id="'+order_info.o_id+'">單子總結</a>               \
					<a href="#" data-role="button" data-transition="fade" class="button_calshare" >計算小單價格</a>                                                   	                \
				</fieldset>                                                                                                                                                                                                                 \
			</th>			                                                                                                                                                                                                        \
		</tr>                                                                                                                                                                                                                                         \
																														                \
		<tr id="order_detail_'+order_info.o_id+'" class="order_detail '+status_class+' " >                                                                                                      		\
';

return orderblock_start + orderSummary_block(order_info.summary_array) + orderShare_block(order_info.share_array)+'</tbody>';
}


// ------------------------------ Test Data -----------
var test_order_info = {
	o_id : 3,
	o_time :  1450750967,
	table_num : 15,
	people_num : 3,
	status : 'WAIT',
	share_array : [
		{
			total:100,
			items_array:[
				{name:"牛肉漢堡",main_price:50, RO_array:[], AI_array:[{name:"加蛋", price:10},{name:"加肉片", price:20}],quantity:1 },
				{name:"豆漿",main_price:10, RO_array:[{name:"無糖", price:0},{name:"去冰", price:0}], AI_array:[],quantity:2   }
			]
		}
	],
	summary_array : [
		{name:"牛肉漢堡",main_price:50, RO_array:[], AI_array:[{name:"加蛋", price:10},{name:"加肉片", price:20}],quantity:1   },
		{name:"豆漿",main_price:10, RO_array:[{name:"無糖", price:0},{name:"去冰", price:0}], AI_array:[],quantity:2   }
	],
	total : 100
};

//alert(order_block(test_order_info));
//alert('');
$("#order_list_header").after(order_block(test_order_info));
//$("#debug_text").val(order_block(test_order_info));
/*
//  
// 
var test_items_array = [];
test_items_array.push({name:"牛肉漢堡",main_price:50, RO_array:[], AI_array:[{name:"加蛋", price:10},{name:"加肉片", price:20}],quantity:1   })
test_items_array.push({name:"豆漿",main_price:10, RO_array:[{name:"無糖", price:0},{name:"去冰", price:0}], AI_array:[],quantity:2   })
//alert(orderSummary_block(test_items_array) );

var test_share_array = [];
test_share_array.push({
	total:100,
	items_array:[
		{name:"牛肉漢堡",main_price:50, RO_array:[], AI_array:[{name:"加蛋", price:10},{name:"加肉片", price:20}],quantity:1 },
		{name:"豆漿",main_price:10, RO_array:[{name:"無糖", price:0},{name:"去冰", price:0}], AI_array:[],quantity:2   }
	]
});
alert(orderShare_block(test_share_array));
*/





</script>

<!---  {{series.main.ai.name}} ---->
<p> </p>
</div>
</body>
</html>