<!DOCTYPE html>

<html>

<head>

<title>Breakfast Menu：註冊</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="./templates/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="jquery-1.11.3.min.js"></script>

<body class="w3-container">

{% if REGISTER_ADMIN == true %}
    <nav id="nav_bar" class="w3-sidenav w3-white w3-card-2">
        <a id="nav_cross" href="javascript:void(0)" class="w3-closenav w3-xxlarge w3-center" style="z-index:2">&times;</a>
			  <a href="listorder.php" class="w3-center">即時訂單資訊</a>		
			  <br>
			  <a href="index.php" rel="external" class="w3-center">前台下單</a>		
			  <br>
			  <a href="edit_menu.php" rel="external" class="w3-center">菜單更新</a>		
			  <br>
			  <a href="report.php" rel="external" class="w3-center">報表產生</a>		
			  <br>
			  <a href="register.php" rel="external" class="w3-center">創造帳號</a> 
			  <br>
			  <a href="login.php" rel="external" class="w3-center">登出</a>
    </nav>
{% endif %}

<div id="main">

    <header class="w3-container w3-teal">
        <h1><center>{{REGISTER_TITLE}} </center></h1>
    </header>

	<center>
	<div>{{REGISTER_MESSAGE}}</div>
	<form action="register.php" method="POST">
		<p id="uname"> 帳號：<input type="text" name="username"> </p>
		<p id="uphone"> 手機：<input type="text" name="phone" id="phone"> </p>
		
		{% if REGISTER_ADMIN == true %}
		<p id="upass"> 密碼：<input type="password" name="userpass"> </p>
		{% else %}
		<!-- <p id="uverification"> 驗證碼：<input type="text" name="verification"> </p> -->
		{% endif %}

		<p> <input type="submit" name="submit" value="login"> </p>
	</form>
	</center>
	

        <footer class="w3-container w3-teal"> &nbsp;        </footer>
	
	
</div>
<script src="templates/login.js"></script>
	
</body></html>