<!DOCTYPE html>

<html>

<head>

<title>Breakfast Menu：驗證碼</title>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="./templates/w3.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

<script src="jquery-1.11.3.min.js"></script>

<body class="w3-container">


<div id="main">

    <header class="w3-container w3-teal">
        <h1><center>填驗證碼 </center></h1>
    </header>

	<center>
	<div>{{REGISTER_MESSAGE}}</div>
	{% if VERIFICATION_SUCCESS == false %}
	<form action="register.php" method="POST">
		<p id="username"> 使用者：{{USERNAME}}  </p> 
		<p id="uphone"> 手機：<input type="text" name="phone" id="phone" value="{{USERPHONE}}">  </p> 
		<p id="uverification"> 驗證碼：<input type="text" name="verification"> </p>
		
		<p> <input type="submit" name="submit" value="確認"> 沒收到? <a href="#" id="sendVerification">再送一次</a></p>
	</form>
	{% endif %}

	</center>
	

        <footer class="w3-container w3-teal"> &nbsp;        </footer>
	
	
</div>
<script src="templates/register_verification.js"></script>
	
</body></html>