<div id="a0" class="w3-container">
	 <h3>{{REGISTER_TITLE}}</h3>

	<center>
	<div>{{REGISTER_MESSAGE}}</div>
	<form action="register.php" method="POST">
		<p id="uname"> 帳號：<input type="text" name="username"> </p>
		<p id="uphone"> 手機：<input type="text" name="phone" id="phone"> </p>
		
		{% if REGISTER_ADMIN == true %}
		<p id="upass"> 密碼：<input type="password" name="userpass"> </p>
		{% else %}
		<!-- <p id="uverification"> 驗證碼：<input type="text" name="verification"> </p> -->
		{% endif %}

		<p> <input type="submit" name="submit" value="{{REGISTER_TITLE}}"> </p>
	</form>
	</center>
	
</div>
<script src="templates/login.js"></script>
	
